html {
  box-sizing: border-box;
  font-family: 'Contrail One', cursive;
}

h1 {
  text-align: center;
  background-color: #1a2230;
  padding: .5em;
  margin: 0em;
  color:#fff;
  position:relative;
}

header {
  padding: 3em 0em 0em 0em;
  background-color: #2c3950;
  color: white;
}

body{
  margin:0em;
  padding:0em;
}

img {
  width:100%;
}

div{
  width:320px;
  margin:0 auto;
}

.robot {
  position:relative;
  width:320;
  margin:0 auto;
  padding-top:60px;
  float:center;
}

.body {
  width:320px;
  display:block;
  padding-top:2em;
  position:relative;
  bottom:0;
}

.brain {
  width:46px;
  position:relative;
  left:138px;
  top:6em;
}

.left {
  width:125px;
  position:relative;
  left:36px;
  top:-36px;
}

.right {
  width:125px;
  position:relative;
  left:34px;
  top:-36px;
}

.robot:hover .left{
  left:10px;
  transition:all 250ms linear;
}

.robot:hover.right{
  right:10px;
  transition:all 250ms linear;
}

*, *::before, *::after {
  box-sizing: inherit;
}
