html {
  box-sizing: border-box;
  font-family: 'Contrail One', cursive;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
  margin:0;
}

header {
  padding: 3em 0em 0em 0em;
  background-color: #2c3950;
  color: white;
  position:relative;
  text-align:center;
  width: 360px;
  width:100%;
}

h1 {
  text-align: center;
  background-color: #1a2230;
  padding: .5em;
  margin: 0em;
  color:#fff;
  position:relative;
}

.robot {
  position:relative;
  width:320px;
  margin:0 auto;
  padding:0;
}

.body {
  width:320px;
  display:block;
  padding-top:40px;
}

.brain {
  width:46px;
  position:absolute;
  left:135px;
  top:2.5em;
}

.left {
  width:125px;
  position:absolute;
  left:36px;
  top:0;
}

.right {
  width:125px;
  position:absolute;
  right:35px;
  top:0;
}

header:hover .left {
  left:0.15em;
  transition:all 250ms linear;
}

header:hover .right{
  right:10px;
  transition:all 250ms linear;
}


/*.robot:hover .left{
  left:10px;
  transition:all 250ms linear;
}

.robot:hover.right{
  right:10px;
  transition:all 250ms linear;
}
*/

header:hover .brain{
  top:1.5em;
  transition:all 200ms linear;
}
